# Godot 4+ specific ignores
.godot/
/android/
env
env/
UnityVersion/PlaneIdler/Library
UnityVersion/PlaneIdler/Temp
UnityVersion/PlaneIdler/Logs
UnityVersion/PlaneIdler/Library/
UnityVersion/PlaneIdler/Temp/
UnityVersion/PlaneIdler/Logs/
UnityVersion/PlaneIdler/Assets/TextMesh Pro
UnityVersion/PlaneIdler/Assets/TextMesh Pro/